$primary: #198754;
$secondary: #f8f9fa;
$pagination-border-color: $primary;
$pagination-hover-border-color: $primary;
$pagination-hover-color: #fff;
$pagination-hover-bg: $primary;
$pagination-color: #212529;
$pagination-border-width: 1px;
$table-cell-padding-y: 7px;
$table-border-color: #CED4DA;
$table-hover-bg: #F8F9FA;
$border-radius: 0;
$modal-content-border-radius: 0;
$input-disabled-color: #CED4DA;
$input-disabled-bg: #fff;
$input-disabled-border-color: #CED4DA;
$form-select-border-color: #212529;
$input-bg: #F8F9FA;
$input-border-width: 0;
$input-border-radius: 2px;
$form-check-input-border: 2px solid #212529;
$form-check-input-border-radius: 2px;