$primary: #198754;
$secondary: #f8f9fa;
$pagination-border-color: $primary;
$pagination-hover-border-color: $primary;
$pagination-hover-color: #fff;
$pagination-hover-bg: $primary;
$pagination-color: #212529;
$pagination-border-width: 1px;
$table-cell-padding-y: 7px;
$table-border-color: #CED4DA;
$table-hover-bg: #F8F9FA;