<div class="main-header-area pb-4 d-flex justify-content-between align-center">
  <div class="header-left d-flex align-center">
    <h2 class="main-title mb-0 fw-bold fs-4 me-12">Admin</h2>
    <button class="add-admin-button btn fw-bold align-middle" id="add-admin" data-bs-toggle="modal" data-bs-target="#addAdminModal">Add New Admin</button>
  </div>
  <div class="header-right align-center">
    <span class="material-icons me-8">search</span>
    <span class="material-icons">notifications_active</span>
  </div>
</div>