.side-bar {
  // background-color: $gray-100;
  max-width: 296px;
  .navbar {
    display: block;
  }
}

.nav-title {
  text-indent: 101%;
  overflow: hidden;
  white-space: nowrap;
  background-image: url(../image/logo-ANSWER.svg);
  background-size: contain;
  height: 40px;
  width: 151px;
  position: relative;
  a {
    position: absolute;
    top: 0;
    left: 0;
  }
}

.nav-item {
  width: 100%;
  &:hover {
    color: $gray-600;
    border-left-width: 4px;
    border-left-color: $gray-600;
    // border-left-style: solid;
  }
  &.active {
    border-left-width: 4px;
    border-left-color: $primary;
    border-left-style: solid;
    color: $primary;
  }
}

.nav-icons {
  display: inline-block;
}

.nav-item-title {
  display: inline-block;
  font-weight: 700;
}

.user-img {
  // background-color: red;
  border-radius: 50%;
  // aspect-ratio: 1;
  width: 40px;
  height: 40px;
  background-image: url(../image/andychen.jpeg);
  background-size: cover;
}

.user-name {
  font-weight: 700;
}

.user-email {
  font-size: 14px;
  color: $gray-600;
}


