<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Answer - Assignment</title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <script
      src="https://code.jquery.com/jquery-3.7.0.min.js"
      integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g="
      crossorigin="anonymous">
  </script>
</head>
<body>
  <%- include('./layout/side-bar.ejs'); -%>
  <main class="l-main-area container">
    <%- include('./layout/Assignment-header.ejs'); -%>
  </main>
  <script type="module" src="../main.js"></script>
  <script>
    $('#nav-assignment').toggleClass("active");
    $('#nav-assignment').toggleClass("ps-8");
    $('#nav-assignment').toggleClass("ps-7");
    $('#nav-assignment').attr( "aria-current", "page" );
  </script>
</body>
</html>